* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(90deg, #5fb1e7, #9fcfc6, #f1dade);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}

